{% extends "base.html" %}
{% block main %}
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Frequency</th>
        <th>Active</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for task in object_list %}
    <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.frequency }}</td>
        <td>{{ task.active }}</td>
        <td><button onclick="window.location.href='/task/view/{{ task.id }}'">view</button> |
            <button onclick="window.location.href='/task/edit/{{ task.id }}'">edit</button></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="pag">
    Showing {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ page_obj.paginator.count }}
{% if page_obj.has_previous %}
    <a href="/task/list?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}
{% if page_obj.has_next %}
    <a href="/task/list?page={{ page_obj.next_page_number }}">Next</a>
{% endif %}
</div>
{% endblock %}