{% extends "base.html" %}
{% load codeblock %}
{% block main %}
<table>
    <thead>
    <tr>
        <th colspan="2"><a href="">{{ object.name }}</a></th>
    </tr>
    </thead>
    <tbody>
    <tr><td>Frequency</td><td>{{ object.frequency }}</td></tr>
    <tr><td>Active</td><td>{{ object.active }}</td></tr>
    <tr><td>Edit</td><td><button onclick="window.location.href='/task/edit/{{ object.id }}';">edit</button></td></tr>
    </tbody>
</table>
<pre>{% autoescape off %}{{ object.script|code }}{% endautoescape %}</pre>
{% endblock %}